// Couleur du texte par defaut
$texte-default-color: #fff;

// Couleur du background par defaut
$bg-default-color: #09041D;

// Couleur du background nav
$bg-nav-color: #0A061F;

// Couleur du background swipper
$bg-swipper-color: #066380;

// Couleur des gros titres
$title-h-color: #A3BABE;


