* {
    box-sizing: border-box;
}

html {
    // Rédéfinir la taille par défaut d'1 rem => 10px plutôt que 16px de base
    font-size: 62.5%;
}

body {
    // On rédéfinit une taille par défaut à 16px
    font-size: 1.6rem;
    margin: 0;
}
