// Appel du fichier partiel "Colors"
@use '../../sass/colors' as c;

// button.scss
.button {
    text-decoration: none;
    color: c.$color-text-button ;
    font-size: 1.9rem;

    &:hover {
        color: c.$color-hover-text-button !important;
    }
}