@use '../../sass/mixins.scss' as m;

.project-page {
    height: 100vh;

    .project__container {
        .project__header {
            display: flex;
            justify-content: center;
            align-items: center;

            @include m.breakpoint(tablet) {
                padding: 0;
            }

            @include m.breakpoint(phone) {
                padding: 0;
            }

            .image-header-container {
                max-width: 100%;
                margin: 0 250px 0 250px;

                @include m.breakpoint(tablet) {
                    margin: 0;
                }

                @include m.breakpoint(phone) {
                    margin: 0;
                }

                img {
                    max-width: 100%;
                    height: auto; // Laissez la hauteur s'ajuster automatiquement
                    object-fit: cover;
                    border-radius: 0 0 50px 50px;

                    @include m.breakpoint(tablet) {
                        border-radius: 0;
                        border-radius: 0 0 50px 50px;
                    }

                    @include m.breakpoint(phone) {
                        border-radius: 0;
                        border-radius: 0 0 50px 50px;
                    }
                }
            }
        }

        .project__description__container {
            display: flex;
            margin: 0 250px 0 250px;

            @include m.breakpoint(tablet) {
                margin: 0;
                margin: 0 100px 0 100px;
            }

            @include m.breakpoint(phone) {
                margin: 0;
                margin: 0 100px 0 100px;
            }
        }

        .footer-container {
            padding-top: 40px;
        }
    }
}
