// Appel du fichier partiel "Mixins" pour le responsive
@use '../../sass/mixins.scss' as m;

// Appel du fichier partiel "Colors"
@use '../../sass/colors' as c;

.project-page {
    height: 100vh;

    .project__container {
        .project__header {
            display: flex;
            justify-content: center;
            align-items: center;

            @include m.breakpoint(tablet) {
                padding: 0;
            }

            @include m.breakpoint(phone) {
                padding: 0;
            }

            .image-header-container {
                max-width: 100%;
                margin: 0 250px 0 250px;

                @include m.breakpoint(tablet) {
                    margin: 0;
                }

                @include m.breakpoint(phone) {
                    margin: 0;
                }

                img {
                    max-width: 100%;
                    height: auto; // Laissez la hauteur s'ajuster automatiquement
                    object-fit: cover;
                    border-radius: 0 0 50px 50px;

                    @include m.breakpoint(tablet) {
                        border-radius: 0 0 50px 50px;
                    }

                    @include m.breakpoint(phone) {
                        border-radius: 0 0 50px 50px;
                    }
                }
            }
        }

        .project__description__container {
            display: flex;
            margin: 0 250px 0 250px;

            @include m.breakpoint(tablet) {
                margin: 0 50px 0 50px;
            }

            @include m.breakpoint(phone) {
                margin: 0 25px 0 25px;
            }
        }

        .project-next-previous {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 70px 50px 70px 50px;
            border-top: 1px solid c.$color-underline-title;
            margin: 70px 250px 0 250px;

            @include m.breakpoint(tablet) {
                margin: 50px 50px 50px 50px;
            }

            @include m.breakpoint(phone) {
                margin: 50px 50px 50px 50px;
                padding: 50px 0 0 0;
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                width: 100%;

                @include m.breakpoint(tablet) {
                    padding: 0;
                }
            }
        }
    }
}