// Appel du fichier partiel "Mixins" pour le responsive
@use '../../sass/mixins.scss' as m;

// Appel du fichier partiel "Colors"
@use '../../sass/colors' as c;

// Font Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Font Philosopher
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Philosopher&display=swap');

.container {
    position: relative;
    display: flex;
    gap: 2rem;
    padding: 2.4rem;
    height: 100vh;


    h3 {
        font-size: 4rem;
        font-family: 'Philosopher', sans-serif;
        margin: 0;
        color: c.$title-h-color;
        border-bottom: 1px solid c.$head-separator-propos;
        padding-bottom: 12px;
        font-weight: 100;
    }

    p {
        font-size: 1.8rem;
        font-family: 'Poppins', sans-serif;
        padding-top: 10px;
        margin-right: 170px;

        @include m.breakpoint(tablet) {
            margin-right: 0;
        }

        @include m.breakpoint(phone) {
            margin-right: 0;
        }
    }

    a {
        font-size: 2rem;
        text-decoration: none;
        color: c.$color-lien-propos;
        margin-top: 15px;
    }

    .cv-link {
        font-family: 'Philosopher', sans-serif;
        font-weight: 100;

        @include m.breakpoint(phone) {
            padding-bottom: 50px;
        }

        @include m.breakpoint(tablet) {
            padding-bottom: 50px;
        }
    }

    /* Lorsque le lien est survolé, affichez l'icône et ajoutez l'effet de rebond */
    .cv-link .icon {
        display: inline-block;
        opacity: 1;
    }

    .icon {
        margin-right: 8px;
    }

    .icon:hover {
        display: inline-block;
        opacity: 1;
        animation: bounce 2.5s ease infinite;
    }

    .cv-link:hover {
        color: c.$hover-color-lien-propos;
    }

    /* Définissez l'animation "bounce" */
    @keyframes bounce {

        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-15px);
            /* Ajustez la distance de rebond */
        }

        60% {
            transform: translateY(-10px);
            /* Ajustez la distance de rebond */
        }
    }

    .presentation {
        display: flex;
        flex-direction: column;
        padding: 150px 500px 0 250px;

        @include m.breakpoint(tablet) {
            display: flex;
            justify-content: center;
            padding: 350px 50px 0 50px;
        }

        @include m.breakpoint(phone) {
            display: flex;
            justify-content: center;
            padding: 750px 0 0 0;
        }
    }

    .profil {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        background-color: c.$bg-profil;
        height: 720px;
        width: 450px;
        border-radius: 0 0 0 30px;

        @include m.breakpoint(tablet) {
            left: 0;
            width: 100%;
            border-radius: 0 0 30px 30px;
            height: auto;
        }

        @include m.breakpoint(phone) {
            left: 0;
            width: 100%;
            border-radius: 0 0 30px 30px;
            height: auto;
        }

        img {
            width: 100%;
            border-radius: 0 0 0 30px;
            z-index: 1;

            @include m.breakpoint(tablet) {
                width: 25%;
                border-radius: 0;
            }

            @include m.breakpoint(phone) {
                width: 60%;
                border-radius: 0;
            }
        }
    }
}