@use '../../sass/colors' as c;

// Font Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Font Philosopher
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Philosopher&display=swap');

.container {
    position: relative;
    display: flex;
    gap: 2rem;
    padding: 2.4rem;
    height: 100vh;

    h3 {
        font-size: 4rem;
        letter-spacing: 0.1rem;
        font-family: 'Philosopher', sans-serif;
        margin: 0;
        color: c.$title-h-color;
        border-bottom: 2px solid #49858D;
        padding-bottom: 12px;
    }

    p {
        font-size: 1.8rem;
        font-family: 'Poppins', sans-serif;
        padding-top: 10px;
        margin-right: 170px;
    }

    a {
        font-size: 2rem;
        text-decoration: none;
        color: white;
        margin-top: 15px;
    }

    /* Ajoutez des styles pour l'icône pour la rendre initialement invisible */
    .icon {
        display: none;
        animation: none;
    }

    /* Lorsque le lien est survolé, affichez l'icône et ajoutez l'effet de rebond */
    .cv-link:hover .icon {
        display: inline-block;
        opacity: 1;
        /* Icône de pleine opacité */
        animation: bounce 2.5s ease infinite;
        /* Ajoutez l'animation "bounce" */
    }

    .cv-link:hover {
        color: #49858D;
    }

    /* Définissez l'animation "bounce" */
    @keyframes bounce {

        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-15px);
            /* Ajustez la distance de rebond */
        }

        60% {
            transform: translateY(-10px);
            /* Ajustez la distance de rebond */
        }
    }

    .presentation {
        display: flex;
        flex-direction: column;
        margin: 120px 500px 0 250px;
    }

    .profil {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #49858D;
        height: 720px;
        width: 450px;
        border-radius: 0 0 0 50px;

        img {
            margin-top: 50px;
            width: 100%;
            border-radius: 0 0 0 50px;
        }
    }
}