// Appel du fichier partiel "Mixins" pour le responsive
@use '../../sass/mixins.scss' as m;

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;

  @include m.breakpoint(phone) {
    width: 50px;
}

  .logo {
    width: 100%;
    height: auto;
  }
}