// Font Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Font Philosopher
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Philosopher&display=swap');

.menu-projects {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px;
}

.menu-projects-container {
    flex: 1;
    display: flex;
    justify-content: space-between;

    .menu__project__container {
        display: flex;
        width: 100%;
        padding: 10px 50px 10px 0;

        .menu__project__left {
            display: flex;
            align-items: center;
            align-content: center;
            flex: 1.5;

            .menu-project-image {
                max-width: 95%;
                height: auto;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 0 30px 30px 0;
                }
            }

            .head-separator {
                margin-bottom: 0;
            }
        }

        .menu__project__right {
            flex: 1;

            h1 {
                font-family: 'Philosopher', sans-serif;
                letter-spacing: 0.1rem;
                font-weight: 100;
            }
        }
    }

    ul {
        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            color: black;
        }
    }

    ul:hover {
        background: #ade7ff;
    }

    .projects-row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .projects-row-right {
            padding-right: 40px;
        }

        h4,
        p {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 1.6rem;
        }
    }
}
