// Appel du fichier partiel "Mixins" pour le responsive
@use '../../sass/mixins.scss' as m;

// Appel du fichier partiel "Colors"
@use '../../sass/colors' as c;

.rotating-square {
  width: 325px;
  height: 325px;
  background-color: c.$bg-color-square-one;
  position: absolute;
  right: 15%;
  top: 60%;
  transform: translate(-50%, -50%);
  animation: rotate 120s linear infinite;

  @include m.breakpoint(tablet) {
    width: 185px;
    height: 185px;
    right: 40%;
    top: 60%;
  }

  @include m.breakpoint(phone) {
    width: 130px;
    height: 130px;
    right: 40%;
    top: 65%;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.rotating-square-two {
  width: 200px;
  height: 200px;
  background-color: c.$bg-color-square-two;
  position: absolute;
  right: 15%;
  top: 30%;
  transform: translate(-50%, -50%);
  animation: rotateClockwise 60s linear infinite;

  @include m.breakpoint(tablet) {
    width: 125px;
    height: 125px;
    right: 30%;
    top: 35%;
  }

  @include m.breakpoint(phone) {
    width: 115px;
    height: 115px;
    right: 25%;
    top: 35%;
  }
}

@keyframes rotateClockwise {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.rotating-square-three {
  width: 100px;
  height: 100px;
  background-color: c.$bg-color-square-three;
  position: absolute;
  right: 10%;
  top: 19%;
  transform: translate(-50%, -50%);
  animation: rotate 50s linear infinite;

  @include m.breakpoint(tablet) {
    width: 90px;
    height: 90px;
    right: 20%;
    top: 23%;
  }

  @include m.breakpoint(phone) {
    width: 70px;
    height: 70px;
    right: 15%;
    top: 25%;
  }
}