@use "../../sass/colors" as c;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.4rem 0;
    gap: 8rem;
    height: 50rem;
    background-color: c.$bg-default-color;
    color: c.$texte-default-color;
    font-family: 'Poppins', sans-serif;

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 2.4rem;
    }

    .reseauxSociaux {
        display: flex;
        justify-content: center;
        gap: 2.4rem;
        padding-top: 2.4rem;
    }

    img {
        width: 3.2rem;
        height: 3.2rem;
    }

    .copyright {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}