@use "../../sass/colors" as c;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media screen and (max-width: 500px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6.4rem 0;
    gap: 8rem;
    background-color: c.$bg-default-color;
    color: c.$texte-default-color;
    font-family: 'Poppins', sans-serif;

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
    }

    .reseaux-sociaux {
        display: flex;
        justify-content: center;
        gap: 2.4rem;
        padding-top: 2.4rem;
    }

    img {
        width: 3.2rem;
        height: 3.2rem;
    }

    .copyright {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .icone {
        color: c.$texte-default-color;
    }
}